configuration {
    modi: "drun,run,sway-window:~/.config/sway/rofi-sway-windows";
    combi-modes: "sway-window,run,drun";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "wezterm";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps ";
    display-run: "   Run ";
    display-sway-window: "   Window ";
    sidebar-mode: true;
    matching: "fuzzy";
    sorting-method: "fzf";
    sort: true;
}

@theme "gruvbox-dark"
